# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/fileHashes.bin
local.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/
core/core.iml
app/app.iml
android-library.iml
