<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weexbox.core">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            tools:replace="android:screenOrientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".controller.WBBaseActivity">
        </activity>
        <activity
            android:name=".controller.WBWebViewActivity">
        </activity>
        <activity
            android:name=".controller.WBWeexActivity">
        </activity>
    </application>

</manifest>